.Header
  .Header__left {
    background: #253141;
    width: 300px;
    height: 120px;
    float: left;
    &--user {
      color: #FFFFFF;
      position: relative;
      top: 40px;
      font-size: 16px;
      font-weight: bold;
      right: -20px;
      .edit {
        
      }
       }
    }
  .Header__right {
    height: 113px;
    width: calc(100vw-300px);
    border: solid #eeeeee;
    
    
    &--group {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      position: relative;
      right: -40px;
    }
    &--member {
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
      position: relative;
      right: -40px;
    }
    &--edit {
      font-size: 20px;
      width: 40px;
      height :40px;
      position: relative;
      right: -1300px;
      top: -70px;
     
    }
    } 
  .Contents{
    .Contents__left {
      background: #2f3e51;
      width: 300px;
      height: 720px;
      float: left;
      position: relative;
      left: -300px;
      &--group {
        font-size: 15px;
        color: #FFFFFF;
        position:relative;
        right: -20px;
        font-weight: bold;
        bottom: -20px;
    }
      &--message {
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        position:relative;
        right: -20px;
        bottom: -25px;
    }
  }
    .Contents_right {
      width: calc(100vw-300px);
      height: 720px;
    
    }  
  }
    
.input-box {
  position: relative;
  bottom: -650px;
  
  
}
.submit {
  position: relative;
  bottom: -625px;
  right: -700px;
}
  
    

  